:root {
    --gray: #c7c7c7;
    --text-input-field: #f7f7f7;
    --green: #ACD9B2;
    --white: #fffFff;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: whitesmoke;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.burguer-icon {
    display: none;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid var(--gray);
    height: 70px;
    background-color: var(--white);
}

.icon-search-mobile {
    display: none;
}

.navbar-left ul,
.navbar-right ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 70px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left ul {
    margin-left: 12px;
}

.logo {
    width: 100px;
    height: 70px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    display: flex;
    text-decoration: none;
    color: var(--gray);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

.navbar-left ul a:hover,
.navbar-right ul a:hover {
    text-decoration: none;
    color: var(--green);
    border: 1px solid var(--green);
}

.navbar-email {
    color: var(--gray);
    font-size: var(--sm);
    margin-right: 6px;
    cursor: pointer;
}

.navbar-email:hover {
    color: var(--green);
    user-select: none;
}

.email-nav img {
    margin-right: 10px;
    transform: rotate(90deg);
    cursor: pointer;
}

.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}

.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu escritorio */

.desktop-menu {
    position: absolute;
    top: 70px;
    right: 50px;
    background: var(--white);
    width: 180px;
    height: auto;
    border: 1px solid var(--gray);
    border-radius: 6px;
    z-index: 1;
    transition: all 500ms linear;
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    50%{
    opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.desktop-menu ul {
    list-style: none;
    margin-top: 12px;
    margin: 0;
    padding: 0;
}

.desktop-menu ul li {
    text-align: end;
    margin: 12px;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--gray);
}

.desktop-menu ul li:last-child a {
    color: var(--green);
}

/* Menu Mobile */

.mobile-menu {
    width: 100%;
    padding: 0 0 0 24px;
    height: 91vh;
    position: absolute;
    top: 71px;
    left: 0;
    right: 0;
    transition: .4s;
    background-color: var(--white);
    box-sizing: border-box;
}

.mobile-menu ul li a {
    font-size: var(--lg);
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--gray);
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu .links ul li {
    margin-bottom: 26px;
}

.mobile-menu .email {
    font-size: var(--md);
    font-weight: 300;
}

.mobile-menu .sign-out {
    font-size: var(--md);
    color: var(--green);

}

/* Barra de búsqueda */

.icon-search {
    width: 24px;
    height: 24px;
    /* padding-top: 5px; */
}

.searchBarContainer {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 0 40px;
    border-bottom: 1px solid lightgray;
    background-color: var(--white);
    transition: all 500ms linear;
}


.searchBarContainer div {
    display: flex;
    justify-content: space-between;
}

.searcher {
    height: 30px;
    width: 80%;
    border: none;
    font-size: var(--md);
    padding: 0;
    background-color: transparent;
}

.searcher:focus {
    border: none;
    outline: none;
}

.searchBarErase {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.label {
    font-size: var(--sm);
}


/* Carrito de compras */

.shopping-cart {
    width: 360px;
    padding: 0 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 71px;
    background-color: var(--white);
    /* padding-bottom: 20px; */
    /* transition: height .5s ease-in; */
    z-index: 1;
    transition: all .5s linear;
    /* transition: padding 0.01s linear; */
}

.title-container {
    display: flex;
    margin: 1em 0;
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.shopping-cart-item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart-item figure {
    margin: 0;
}

.shopping-cart-item figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart-item p:nth-child(2) {
    color: var(--very-light-pink);
}

.shopping-cart-item p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.close-item {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    margin-bottom: 12px;
}

/* Galería productos */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 30px;
    place-content: center;
    margin: 5em 0;
}

.product-card {
    width: 280px;
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* transition: all 0.3s ease; */
}

.product-card img {
    width: 280px;
    height: 280px;
    border-radius: 20px;
    object-fit: contain;
    cursor: pointer;
    /* padding: 10px; */
}

.product-card:hover {
    opacity: 0.7;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 18px 12px 18px;
}

.product-info figure img {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.product-info figure {
    margin: 0;
}

.product-info div p:nth-child(1) {
    font-size: var(--lg);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 4px;
    padding: 0 6px;
}

.product-info div p:nth-child(2) {
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--gray);
    padding: 0 6px;
}

/* Detalles de producto */

.product-details {
    width: 520px;
    position: absolute;
    right: 0;
    background-color: var(--white);
    padding-bottom: 20px;
    z-index: 1;
    transition: all .3s ease-out;
}

.product-detail-close {
    background: var(--gray);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    padding: 12px;
    border-radius: 50%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail-close:hover {
    cursor: pointer;
}

.close {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.product-details>img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: var(--gray);
    border-radius: 50%;
    display: inline-block;
}

.dots span:nth-child(1) {
    background-color: var(--green);
}

.product-detail-info {
    margin: 0 24px;
    
}

.product-detail-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin: 6px 0;
}

.product-detail-info p:nth-child(2) {
    margin: 0px 0 24px 0;
    font-size: var(--md);
    color: var(--gray);
}

.product-detail-info p:nth-child(3) {
    color: var(--gray);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}

.product-details .btn-primary {
    width: 60%;
    height: 50px;
    font-size: var(--md);
    font-weight: bold;
    background: var(--green);
    color: var(--white);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;  
}

.footer {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: var(--black);
    background-color: var(--white);
    
}

.footer p {
    margin: 0;
}

/* Clase para ocultar */
.inactive {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.parallax {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first {
    background-image: url("https://images.unsplash.com/photo-1625057983766-71c6d131a01a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
}
.second {
    background-image: url("https://images.unsplash.com/photo-1508789454646-bef72439f197?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80");
}

.third {
    background-image: url("https://images.unsplash.com/photo-1596799283033-2fd5b32b68ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
}
.text {
    background-color: #111;
    padding: 18px;
    width: 320px;
    text-align: center;
    color: var(--white);
    border-radius: 12px;
    cursor: pointer;
}

.text a {
    text-decoration: none;
    color: var(--white);
}

.parallax-text {
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.parallax-text h2 {
    text-align: center;
    padding-top: 1.5em;
    font-size: 2em;
    margin: 0;
}

.parallax-text p {
    padding: 1em 0 2em 0;
    margin: 0;
    font-size: 1.5em;
}

.parallax-text img {
    width: 220px;
    height: 220px;
}

.parallax-options{
    width: 100%;
    height: 120px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.item-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.parallax-icon {
    width: 40px;
    height: 40px;
}

.login {
    display: grid;
    justify-content: center;
    width: 100%;
    margin: 5em 0;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    background-color: var(--white);
    padding: 2em;
    border-radius: 12px;
}

.logo-login {
    justify-self: center;
    width: 150px;
    margin-bottom: 48px;
}

.form {
    display: flex;
    flex-direction: column;

}

.form a {
    color: var(--green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 22px;
}

.label {
    margin-bottom: 4px;
    font-size: var(--sm);
    font-weight: bold;
}

.input {
    height: 30px;
    padding: 6px;
    margin-bottom: 12px;
    background-color: var(--text-input-field);
    font-size: var(--md);
    border: none;
    border-radius: 8px;
}

.input-email {
    margin-bottom: 12px;
}

.btn-primary {
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-weight: bold;
    background: var(--green);
    color: var(--white);
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.btn-primary:hover {
    color: var(--green);
    background-color: var(--white);
    border: 1px solid var(--green);
}

.btn-login {
    margin-top: 14px;
    margin-bottom: 30px;
}

.btn-secondary {
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-weight: bold;
    background: var(--white);
    color: var(--green);
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--green);
}

.btn-secondary:hover {
    color: var(--white);
    background-color: var(--green);
}

.login {
    display: grid;
    justify-content: center;
    width: 100%;
    margin: 5em 0;

}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    background-color: var(--white);
    padding: 2em;
    border-radius: 12px;
}

.title-form {
    text-align: start;
    margin-bottom: 36px;
    font-size: var(--lg);
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 4px;
    font-size: var(--sm);
    font-weight: bold;
}

.input {
    height: 30px;
    padding: 6px;
    margin-bottom: 12px;
    background-color: var(--text-input-field);
    font-size: var(--md);
    border: none;
    border-radius: 8px;
}

.input-name,
.input-email,
.input-password {
    margin-bottom: 22px;
}

.btn-submit {
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-weight: bold;
    background-color: var(--white);
    color: var(--green);
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--green);
    margin: 18px 0 0 0;
    
}

.btn-submit:hover {
    color: var(--white);
    background-color: var(--green);
}

.my-order {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    margin: 5em 0;
}

.title-orders {
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 40px;
}

.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    background-color: var(--white);
    padding: 2em;
    border-radius: 12px;
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 12px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--gray);
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: 700;
}

@media (max-width: 640px) {
    .burguer-icon {
        display: block;
    }

    .icon-search-mobile {
        display: block;
        position: absolute;
        left: 70px;
    }

    .navbar-left ul,
    .navbar-email,
    .email-nav img,
    .desktop-menu {
        display: none;
    }

    .searchBarContainer {
        gap: 6px;
    }

    .product-details {
        width: 100%;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px;
    }

    .product-card {
        width: 140px;
    }

    .product-card img {
        width: 140px;
        height: 140px;
    }

    .product-info {
        margin: 6px;
    }

    .product-info div p:nth-child(2) {
        font-size: var(--sm);
    }

    .logo {
        display: block;
    }

    .form {
        height: 100%;
    }

    .parallax-options {
        flex-direction: column;
        height: auto;
        padding: 1em 0;
    }

    .second {
        background-position: 10%;
    }
}

@media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}